<div class="intro-list">
    <ul>
        <li ng-repeat="item in itemList" class="intro-list-item" ng-click="clickFunction(item)">
            <a ng-href="{{ item.action }}" title="{{ item.name }}">
                <img ng-if="item.icon" class="intro-list-image" ng-src="../icons/{{ item.icon }}">
                <div class="intro-list-text">
                    <div class="intro-list-title" translate>{{ item.name }}</div>
                    <div class="intro-list-description" translate>{{ item.description }}</div>
                </div>
            </a>
        </li>
    </ul>
</div>
