@import "../variables"

$bread-crumb-height: $spacing-triple
$bread-crumb-spacing: $spacing-single

.breadcrumbs
  @extend .d2

  .crumb
    display: inline-block
    height: $bread-crumb-height
    margin-right: $bread-crumb-spacing
    cursor: pointer

  .crumb.last
    color: $dhis-color

  .crumb-separator
    margin-left: $bread-crumb-spacing
    color: $dhis-color